<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Simple Posts Board</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>

<body>

<div th:fragment="bootstrap-js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>

<div th:fragment="title">
    <h1 class="pb-4">
        <a th:href="@{/}" class="text-decoration-none text-dark">Simple Posts Board</a>
        <span sec:authorize="${isAuthenticated()}">
        (<span th:text="${#authentication.name}"></span>)
    </span>
        <span sec:authorize="${isAnonymous()}">
        (비회원)
    </span>
    </h1>
</div>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>
</body>
</html>